@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --my-color: antiquewhite;
  --dark-color: rgba(48, 0, 0, 0.637);
}
html, body {
  margin: 0;
  padding: 0;
}  
a {
  color: var(--my-color);
  font-style: italic;
}
body {
  background-color: var(--my-color);
  display: flex;
}

.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.35;
  background-image: url("photo.jpg"); background-size: cover; background-repeat:no-repeat; 
  opacity: 1;
}

#logo {
  width: 10rem;
  height: auto;
  padding: 5px;
}

#title {
  font-weight: bolder;
  font-size: 100px;
  padding: 20px;
  color: var(--my-color);
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  padding: 5vh, 20px;
}

#credit {
  font-size: 24px;
  background-color: var(--dark-color);
  font-family: 'Roboto', sans-serif;
  color: var(--my-color);
  padding: 10px 25px;
}